<h1><%= @post.title %></h1>
<p><%= @post.body %></p>
<hr>
<%= link_to "Редактировать", edit_post_path(@post), :class => 'btn btn-warning' %>
<%= link_to "Удалить ", post_path(@post), method: :delete, data: {confirm: "Удалить статью?"}, :class => 'btn btn-danger' %>
<hr>
<h3>Все комментарии</h3>
<% @post.comments.each do |comment| %>
  <div class="alert alert-light">
    <p><strong><%= comment.username %></strong>:<%= comment.body %></p>
  </div>
  <br>
<% end %>
<hr>
<h4>Комментиарии</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
      <div class="alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p> Пользователь<br>
    <%= f.text_field(:username, {:class => 'form-control'}) %>
  </p>
  <p> Текст комментария <br>
    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit ({:class => 'btn btn-success'}) %>
  </p>
<% end %>